@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<section class="content-header">
    <h1><small>Anasayfa</small>  </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-5">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title text-bold">iSTATiSTİKLER</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-6 text-center">
                        <span class="badge bg-red">-</span>
                        <h4>Toplam İlan</h4>
                        <br />
                        <span class="badge bg-blue">-</span>
                        <h4>Yeni İlan</h4>
                        <br />
                    </div>
                    <div class="col-md-6 text-center">
                        <span class="badge bg-yellow">-</span>
                        <h4>Aktif İlan</h4>
                        <br />
                        <span class="badge bg-green">-</span>
                        <h4>Pasif İlan</h4>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>