@{
    Layout = null;
}
@model IEnumerable<YazılımProje.Models.Resim>
<div style="padding:0; margin:0; background-color:#fff;font-family:'Open Sans',sans-serif,arial,helvetica,verdana">


    <div id="jssor_1" style="position:relative;margin:0 auto;top:0;left:0;width:800px;height:300px;overflow:hidden;visibility:hidden;">
        <div data-u="loading" style="position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;"></div>
            <div class="jserkan"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0;left:0;width:800px;height:300px;overflow:hidden;">
            
            @foreach (var resim in Model)
            {
                <div>
                    <img style="width:600px; height:300px;" src="~/Images/@resim.ResimAdresi" />
                </div>
            }
            @if (ViewBag.ResimSayi == 1)
            {
                <div>
                    <img src="~/Content/fotoslider/img/007.jpg" />
                </div>
            }
            @if (ViewBag.ResimSayi == 1 || ViewBag.ResimSayi == 2)
            {
                <div>
                    <img src="~/Content/fotoslider/img/002.jpg" />
                </div>
            }
        </div>
        <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;" data-autocenter="1">
            <div data-u="prototype" style=" width:12px; height:12px;"></div>
        </div>
        <span data-u="arrowleft" class="jssora13l" style="top:0;left:30px;width:40px; height:50px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora13r" style="top:0;right:30px;width:40px; height:50px;" data-autocenter="2"></span>
    </div>

    <script type="text/javascript">jssor_1_slider_init();</script>
</div>
