@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UltraEmlak | Ziyaretçi</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/dist/skins/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.select.min.css" rel="stylesheet" />
    <link href="~/Content/css/google.font.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <a href="~/Home/Index/" class="logo">
                <span class="logo-lg"><b>Ultra</b>Emlak</span>
            </a>

            <nav class="navbar navbar-static-top">
                <ul class="nav navbar-nav">
                    <li style="border-left: 1px solid white;">
                        <a href="~/Home/Index/"><span>Konut</span></a>
                    </li>
                    <li style="border-left: 1px solid white;">
                        <a href="~/Home/Isyeri/"><span>İşyeri</span></a>
                    </li>
                    <li style="border-left: 1px solid white;">
                        <a href="~/Home/Arsa/"><span>Arsa</span></a>
                    </li>
                </ul>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li style="background-color: #f16666; border-left: 1px solid white;">
                            <a href="~/Home/Register/"><span>Kaydol</span></a>
                        </li>
                        <li style="background-color: #f16666; border-left: 1px solid white;">
                            <a href="~/Home/Login/"><span>Giriş Yap</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="content-wrapper" style="min-height: 237px; margin-left:0">
            @RenderBody()
        </div>
        <footer class="main-footer" style="margin-left:0">
            <div class="pull-right" style="clear:both">
                <div class="text-center">
                    <a target="_blank" href="https://www.facebook.com/serkanparlak27"><i class="fa fa-lg fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-lg fa-twitter"></i></a>
                    <a target="_blank" href="https://www.instagram.com/serkannprlk/"><i class="fa fa-lg fa-lg fa-instagram"></i></a>
                    <a target="_blank" href="https://tr.linkedin.com/in/serkan-parlak-439939b4"><i class="fa fa-lg fa-linkedin"></i></a>
                </div>
            </div>
            <strong>Copyright &copy; @DateTime.Today.Year Company.</strong> All right reserved by Serkan Parlak.
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/dist/js/app.min.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.select.min.js"></script>
</body>
</html>

